.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    text-align: center;
    background: linear-gradient(135deg, #f8e1d4, #f4cbc0);
}
.game-title {
    font-size: 5rem; /* 글자 크기를 키움 */
    font-weight: bold;
    color: #65366c;
    margin-bottom: 3rem; /* 버튼과 간격 추가 */
}
.button-group, .main-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button {
    font-size: 2rem; /* 버튼 텍스트 크기를 키움 */
    padding: 1rem 3rem; /* 버튼 크기를 키움 */
    background-color: #65366c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.main-button:hover {
    background-color: #f79278;
    transform: scale(1.05); /* 버튼 확대 효과 */
}