{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: calc(100vh - 120px); text-align: center; background: linear-gradient(135deg, #f8e1d4, #f4cbc0);">
    <h1 class="game-title" style="font-size: 3rem; font-weight: bold; color: #65366c; margin-bottom: 2rem;">Piro Game</h1>

    {% if user.is_authenticated %}
        <p class="welcome-message" style="font-size: 1.2rem; color: #65366c; margin-bottom: 1.5rem;">{{ user.first_name }}님이 로그인 중</p>
        <div class="button-group" style="display: flex; gap: 1rem;">
            <a href="{% url 'games:attack'%}">
                <button class="main-button" style="font-size: 1.5rem; padding: 0.5rem 2rem; background-color: #65366c; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">START</button>
            </a>
            <a href="{% url 'games:history_list'%}">
                <button class="main-button" style="font-size: 1.5rem; padding: 0.5rem 2rem; background-color: #65366c; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;" onclick="location.href='/list'">LIST</button>
            </a>
            
        </div>
    {% else %}
        <button class="main-button" style="font-size: 1.5rem; padding: 0.5rem 2rem; background-color: #65366c; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;" onclick="checkLogin()">Login</button>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const isAuthenticated = JSON.parse("{{ user.is_authenticated|json_script }}");
    const socialLoginUrl = "{% url 'accounts:social_login' %}";
    const startUrl = "/start";

    function checkLogin() {
        // 로그인 상태에 따라 리디렉션
        if (!isAuthenticated) {
            window.location.href = socialLoginUrl;
        } else {
            window.location.href = startUrl;
        }
    }
</script>
{% endblock %}
