{% extends 'base.html' %}
{% block head %}
<style>
.container{
    margin: 50px;
    color: #65366c;
}

.game-item{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}
.item-container a{
    text-decoration: none;
    background-color: #65366c;
    color: salmon;
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 15px;
}
.header-title{
    font-size: 2rem;
    margin: 20px 20px 40px 0;
    color: #65366c;
    font-weight: bold;
}
</style>
{% endblock %}


{% block content %}
<div class="container">
    <div class="header-title">History List</div>
    <div class="main-container">
        <div class="main-title">현재 플레이어 : {{ user.first_name }}</div>
        <br>
        <hr>
        <div class="item-container">
            {% for game in game_info %}
                <div class="game-item">
                    <div class="game-info">
                        <span>No.{{ forloop.counter }}</span>
                        <span>{{ user.first_name }} VS. {{ game.opponent }}</span>
                    </div>
                    <div class="game-actions">
                        <span>{{ game.status }}</span>
                        <a href="{{ game.link }}" class="game-link">{{ game.action }}</a>
                    </div>
                    <div class="game-detail">
                        <a href="{% url 'games:game_detail' game.game_id %}">게임정보</a> <!-- 수정 필요 !!-->
                    </div>
                </div>
            {% empty %}
                <p>아직 진행된 게임이 없습니다.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
