{% extends 'base.html' %}
{% block content %}
    
    <div class="game-detail-container">
        <div class="game-header">
            <h3>{{ game.startingPlayer.username }} VS {{ game.defendingPlayer.username }}</h3>
        </div>

        {% if game.status == 'ongoing' and game.startingPlayer == user %}
            <!-- 다른 유저에게 싸움을 건 상태 -->
            <p class="game-subtitle">진행 중...</p>
            <div class="game-info">
                <p><strong>나:</strong> {{ game.startingPlayerNum }}</p>
            </div>
            <div class="game-actions">
                <form method="POST" action="{% url 'games:cancel_game' game.id %}">
                    {% csrf_token %}
                    <button type="submit" class="action-button">게임 취소</button>
                </form>
                <a href="{% url 'games:history_list' %}" class="history-button">전적 목록</a>
            </div>
        
        {% elif game.status == 'ongoing' and game.defendingPlayer == user %}
            <!-- 다른 유저가 싸움을 걸어온 상태 -->
            <div class="game-actions">
                <form method="POST" action="{% url 'games:counter_attack' game.id %}">
                    {% csrf_token %}
                    <button type="submit" class="action-button">대응하기</button>
                </form>
                <a href="{% url 'games:history_list' %}" class="history-button">전적 목록</a>
            </div>
        
        {% elif game.status == 'end' %}
            <!-- 이미 종료된 게임 -->
            <div class="game-info">
                <p>숫자가 작은 사람이 이깁니다.</p>
                <p><strong>{{ game.startingPlayer.username }}:</strong> {{ game.startingPlayerNum }}</p>  <!-- user1 카드 -->
                <p><strong>{{ game.defendingPlayer.username }}:</strong> {{ game.defendingPlayerNum }}</p>  <!-- user2 카드 -->
                <p><strong>게임 결과:</strong> {{ game_result }}</p>
                <p><strong>점수:</strong> {{ score }}</p> 
            </div>
            <a href="{% url 'games:history_list' %}" class="history-button">전적 목록</a>
        {% endif %}
    </div>
{% endblock %}
