<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirogrammer Card Game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <a href="/" class="header-logo">Pirogrammer Card Game</a>
        <nav>
            {% if user.is_authenticated %}
                <a href="#">게임하기</a>
                <a href="#">랭킹보기</a>
                <a href="/main/">로그아웃</a>
            {% else %}
                <a href="{% url 'accounts:kakao-login' %}">로그인</a>
                <a href="{% url 'accounts:kakao-login' %}">회원가입</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>피로그래밍 카드 게임 세션 2조</p>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>